body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

.description {font-weight:100;}

.uline {text-decoration: underline;}

.center {text-align:center;}

.link {font-weight:bold;
    text-decoration: underline;
}